.site-title{
  color: darkorchid;
  font-size: 60px;
  font-family: 'Courier New', Courier, monospace;
}

h1{
  color: mediumslateblue;
}

table {
  font-family: arial, sans - serif;
  border-collapse: collapse;
  width: 90% ;
  margin: 50px 100px 0 100px;
}

td, th {
  border: 1 px solid #dddddd;
  text-align: left;
  padding: 8 px;
}

th {
  background-color: cornflowerblue;
}
/* tr:nth-child(even) {
  background-color: #dddddd;
} */

.button {
  width: 115px;
  height: 25px;
  background: #4E9CAF;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  line-height: 25px;
}