{% extends "base.html" %}

{% block body %}
<h1>Visuals</h1>

<div>
  <form action="{{ url_for('visual') }}">
    <input type="submit" value="Top 10 Games based on revenue" />
  </form>
</div>
<br>
<br>
<div id ="os">
  <form action="{{ url_for('get_plot') }}">
    <label for="lang">Operating System</label>
    <select name="os" id="lang">
      <option value="windows">Windows</option>
      <option value="mac">Mac</option>
      <option value="linux">Linux</option>
    </select>
    <input type="submit" value="Get Insides" />
  </form>
</div>

<div id="graph">
      <img src="../static/images/age_plot.png" height="75%" width="75%">
</div>

    
{% endblock %}

